<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
        <pages validateRequest="false" />
    </system.web>
    <connectionStrings>
        <!--<add name="TeamExpeditors.PMD.Database.Properties.Settings.PMDConnectionString"
            connectionString="Data Source=Training7;Initial Catalog=PMD;User ID=ServerAuth;Password=test123!@#"
            providerName="System.Data.SqlClient" />-->
      <add name="TeamExpeditors.PMD.Database.Properties.Settings.PMDConnectionString"
            connectionString="Data Source=UNIVAC;Initial Catalog=PMD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
            <serviceActivations>
                <add service="TeamExpeditors.PMD.ServiceImplementation.DashboardOperations, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="DashboardService.svc"/>
                <add service="TeamExpeditors.PMD.ServiceImplementation.Authentications, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="Authentication.svc"/>
                <add service="TeamExpeditors.PMD.ServiceImplementation.DashboardUserOperations, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="DashboardUserOperations.svc"/>
                <add service="TeamExpeditors.PMD.ServiceImplementation.DashboardTeamOperations, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="DashboardTeamOperations.svc"/>
                <add service="TeamExpeditors.PMD.ServiceImplementation.Registrations, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="Registrations.svc"/>
                <add service="TeamExpeditors.PMD.ServiceImplementation.TeamsOperations, TeamExpeditors.PMD.ServiceImplementation" relativeAddress="TeamsOperations.svc"/>
            </serviceActivations>
        </serviceHostingEnvironment>
        <standardEndpoints>
            <webHttpEndpoint>
                <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
            </webHttpEndpoint>
        </standardEndpoints>
        <bindings>
            <wsHttpBinding>
                <binding name="defaultWsHttpBinding">
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
                <behavior name="defaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="rest">
                    <webHttp defaultOutgoingResponseFormat="Json"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services>
            <service name="TeamExpeditors.PMD.ServiceImplementation.DashboardOperations">
                <endpoint name="DashboardOperations" address="DashboardOperations" behaviorConfiguration="rest" binding="webHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IDashboardOperations"></endpoint>
                <endpoint name="DashboardItemOperations" address="DashboardItemOperations" behaviorConfiguration="rest" binding="webHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IDashboardItemOperations"></endpoint>
            </service>
            <service name="TeamExpeditors.PMD.ServiceImplementation.Authentications" behaviorConfiguration="defaultServiceBehavior">
                <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IUserLogin"></endpoint>
            </service>
            <service name="TeamExpeditors.PMD.ServiceImplementation.DashboardUserOperations">
                <endpoint name="DashboardUserOperations" address="DashboardUserOperations" behaviorConfiguration="rest" binding="webHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IDashboardUserOperations"></endpoint>
            </service>
            <service name="TeamExpeditors.PMD.ServiceImplementation.TeamsOperations">
                <endpoint name="TeamsOperations" address="TeamsOperations" behaviorConfiguration="rest" binding="webHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.ITeamsOperations"></endpoint>
            </service>
            <service name="TeamExpeditors.PMD.ServiceImplementation.DashboardTeamOperations">
                <endpoint name="DashboardTeamOperations" address="DashboardTeamOperations" behaviorConfiguration="rest" binding="webHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IDashboardTeamOperations"></endpoint>
            </service>
            <service name="TeamExpeditors.PMD.ServiceImplementation.Registrations" behaviorConfiguration="defaultServiceBehavior">
                <endpoint binding="wsHttpBinding" bindingConfiguration="defaultWsHttpBinding" contract="TeamExpeditors.PMD.ServiceContracts.IUserRegistration"></endpoint>
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
